<app-header ></app-header>

<div class="background-image"></div>

<div class="balloons-container">
    <img *ngFor="let balloon of balloons" 
         src="https://c1.klipartz.com/pngpicture/484/568/sticker-png-birthday-party-balloon-birthday-bunch-o-balloons-hot-air-balloon-greeting-note-cards-party-supply-heart-thumbnail.png" 
         class="balloon"
         [ngStyle]="{'left': balloon.left + '%', 'animation-duration': balloon.speed + 's'}">
  </div>




<p style="color: aliceblue;">home works!</p>
<div class="home-content">
    <h1 style="color: aliceblue;">Bienvenue sur la page Home</h1>
    <p style="color: aliceblue;">Faites défiler pour voir l'effet du header.</p>
    <div style="height: 2000px;"></div> <!-- Pour tester le scroll -->
</div>
    
Lorem ala hhhhhhh ipsum dolor sit, amet consectetur adipisicing elit. Debitis nulla eveniet fugit, reiciendis dolor possimus fuga nisi illo accusamus ut harum ipsum eos nostrum voluptate repellat rem optio illum rerum.

Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis nulla eveniet fugit, reiciendis dolor possimus fuga nisi illo accusamus ut harum ipsum eos nostrum voluptate repellat rem optio illum rerum.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis nulla eveniet fugit, reiciendis dolor possimus fuga nisi illo accusamus ut harum ipsum eos nostrum voluptate repellat rem optio illum rerum.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis nulla eveniet fugit, reiciendis dolor possimus fuga nisi illo accusamus ut harum ipsum eos nostrum voluptate repellat rem optio illum rerum.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis nulla eveniet fugit, reiciendis dolor possimus fuga nisi illo accusamus ut harum ipsum eos nostrum voluptate repellat rem optio illum rerum.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis nulla eveniet fugit, reiciendis dolor possimus fuga nisi illo accusamus ut harum ipsum eos nostrum voluptate repellat rem optio illum rerum.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis nulla eveniet fugit, reiciendis dolor possimus fuga nisi illo accusamus ut harum ipsum eos nostrum voluptate repellat rem optio illum rerum.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis nulla eveniet fugit, reiciendis dolor possimus fuga nisi illo accusamus ut harum ipsum eos nostrum voluptate repellat rem optio illum rerum.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis nulla eveniet fugit, reiciendis dolor possimus fuga nisi illo accusamus ut harum ipsum eos nostrum voluptate repellat rem optio illum rerum.

<!-- Flèche de retour en haut -->
<button class="scroll-to-top" (click)="scrollToTop()" [class.show]="showScrollButton">
    <i class="fas fa-arrow-up"></i>
</button>

<app-footer></app-footer>