<app-header></app-header>

<div class="background-image"></div>

<!-- forgot-password.component.html -->
<div class="forgot-password-container">
    <h1>Password</h1>
    <p class="subtitle">Create Forgot Password</p>
  
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="emailAddress">Email Address <span style="color: red;">*</span></label>
        <input type="email" id="emailAddress" name="emailAddress" [(ngModel)]="emailAddress" required placeholder="Your email:" />
      </div>
  
      <button type="submit" class="send-email-button">Send Me Email</button>
  
      <div class="separator">
        Or
      </div>
  
      <p class="login-link">Already a member? <a routerLink="/login">Login</a></p>
    </form>
  </div>
<app-footer></app-footer>